<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Programming Language</th>
        <th>Framework, App</th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <td>1</td>
        <td>C++</td>
        <td>Drivers, Libraires. Sheriff with Mustach</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Go</td>
        <td>Concurrent App. New geek with suits and glasses</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Java</td>
        <td>Spring, 3 billion Devices cant be wrong</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Kotlin</td>
        <td>Java Midfilder</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Elixir</td>
        <td>Erlang with decency</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Js</td>
        <td>Typescript, Nodejs, Angular, ReactRedux, viral immigrant</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Python</td>
        <td>Flying ants like bees</td>
      </tr> 
      <tr>
        <td>8</td>
        <td>R</td>
        <td>Relevant stats</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Rust</td>
        <td>If Fe bothers u!</td>
      </tr>      
    </tbody>
  </table>
  </div>

